/* Стили для заголовков первого уровня */
h1 {
    padding:20px;
    background-color:#dddddd;
    font-size:28pt;
} 
/* Стили для второго абзаца */
p:nth-of-type(2){
    font-weight: bold;
}
/* Стили для внутристраничных гиперссылок */
a[href^="#"] {
    font-size:16pt;
    font-weight:bold;
    color: #777777;
    margin-left:20px;
    text-decoration: none;
}
a[href^="#"] {
    color: #1d0d77;
}
/* Стили для заголовков второго уровня */
h2 {
    padding:10px;
    background-color:#dddddd;
    font-size:20pt;
}
h2:first-of-type { 
    color: #2d4764;
    border: 1px dotted #444;
}
h2:nth-of-type(2) {
    color: #345375;
    border: 1px dashed #444;
}
h2:last-of-type {
    color: #3e337a;
    border: 3px double #444;
}
/* Стили для заголовков третьего уровня */
h3 {
    margin-left:40px;
}
h3 a:nth-of-type(2n) {
    color:#ff4500;
}
h3 a:nth-of-type(2n+1) {
    color:#1ead10;
}